
<h1>Please choose a house.</h1>

<p></p>
<p></p>
<a href="/welcome/houses/1" class="glow">Griffindor</a>
<p></p>
<p></p>
<a href="/welcome/houses/2" class="glow">Hufflepuff</a>
<p></p>
<p></p>
<a href="/welcome/houses/3" class="glow">Ravenclaw</a>
<p></p>
<p></p>
<a href="/welcome/houses/4" class="glow">Slytherin</a>